body {
    margin: 0;
    background-image: url(images_desktop/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    line-height: 1.2;
}

.greybox {
    background-color: rgba(0, 0, 0, 0.3);
    margin: 100px 40px;
    border-radius: 20px;
}

.contentbox {
    padding: 10px 15px;
}

header {
    font-family: "bungee shade";
    color: rgb(223, 224, 228);
    margin-bottom: 60px;
    font-size: 30px;
}

header h1 {
    margin-top: 0px;
}

nav {
    display: flex;
    margin-bottom: 60px;
    font-size: 20px;
}

nav div {
    flex-basis: 0;
    flex-grow: 1;
    background-color: rgba(223, 224, 228, 0.8);
    font-family: "barlow semi condensed";
    padding: 15px 0px;
    border-radius: 10px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav div:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
}

.marked {
    border: 1px solid white;
    font-weight: bold;
    box-shadow: 0px 0px 5px white;
}

.marked:hover {
    background-color: rgba(223, 224, 228, 0.8);
    color: black;
    cursor: auto;
}

.best {
    font-family: "barlow semi condensed";
    color: rgba(223, 224, 228, 0.8);
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0px 0px 20px 0px;
    padding: 13px 13px;
    border: 1px solid rgb(189, 188, 188);
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#season_4 {
    margin-bottom: 80px;
}

/* Album Data */

.album_data div h1 {
    font-family: "bungee outline";
    color: rgba(223, 224, 228, 0.8);
    font-size: 26px;
}

.album_data div h2 {
    color: white;
    font-family: "barlow semi condensed";
    font-size: 22.5px;
}

.album_data div h1, .album_data div h2 {
    margin: 0;
}

.album_data {
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
    margin-right: 15px;
    font-size: 15px;
}

.album_data div p {
    margin-top: 50px;
    margin-bottom: 0;
}

.album_data div ul {
    margin-top: 0;
    list-style-type: none;
}

/* Cover */

.cover {
    display: grid;
    object-fit: contain;
    grid-column: 4 / span 2;
    grid-row: 1;

}

.cover:hover .show_not_hover {
    opacity: 1;
}

.show_not_hover {
    opacity: 0;

    transition: opacity;
    transition-duration: 1s;
}


.show_hover, .show_not_hover {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

/* Under Cover lists */

.song_list {
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 4 / span 2;
    grid-row: 2;
    font-size: 15px;
}

#season_3 .song_list .top_actors, #season_3 .song_list .top_writers {
    background-color: rgb(52 49 42);
    color: #f9e9c9;
}

#season_4 .song_list .top_actors, #season_4 .song_list .top_writers {
    background-color: #d00816;
    color: #d2ae2a;
}

.top_actors {
    border-bottom-left-radius: 20px;
    padding: 15px;
    padding-right: 0px;
}
.top_actors h2 {
    margin: 0;
    font-weight: normal;
}
.top_actors ul {
    padding-left: 17px;
    margin: 0;
    list-style-type: decimal;
    text-align: left;
}

.top_writers {
    padding: 15px;
    padding-right: 0px;
    border-bottom-right-radius: 20px;
}
.top_writers h2 {
    margin: 0;
    font-weight: normal;
}
.top_writers ul {
    margin: 0;
    list-style-type: decimal;
    padding-left: 17px;
}

/* Anecdotes */

.anecdotes {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-column: 1 / span 5;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    margin: 0;
    font-size: 15px;
}

/* Section 1 */

#season_3 .anecdotes .top_right_90 {
    grid-column: 1;
    display: flex;
    align-items: center;
    padding: 15px;

    background-color: #f9e9c9;
    color: rgb(44, 44, 44);
    border-radius: 20px 0 20px 20px;
}

#season_3 .anecdotes .empty {
    grid-column: 2;
    grid-row: 1;
}

#season_3 .anecdotes .two_wide {
    grid-column: 3 / span 2;
    display: flex;
    align-items: center;
    padding: 15px;

    background-color: #f9e9c9;
    color: rgb(44, 44, 44);
    border-radius: 20px 20px 20px 0px;
}

#season_3 .anecdotes .image_1 {
    background-image: url(images_desktop/CharlieBrooker.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0px 20px 20px 20px;
    display: flex;
    align-items: flex-end;
    padding: 15px;
    grid-column: 5;
}

#season_3 .anecdotes .bottom_right_90 {
    grid-column: 6;
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #f9e9c9;
    color: rgb(44, 44, 44);
    border-radius: 20px 20px 0px 20px;

}

/* Section 2 */

#season_4 .anecdotes .bottom_left_90 {
    background-color: #d2ae2a;
    color: #d00816;
    display: flex;
    align-items: center;
    border-radius: 20px 20px 20px 0px;
    padding: 15px;
    grid-column: 1 / span 2;
    grid-row: 1;
}

#season_4 .anecdotes .top_left_90 {
    background-color: #d2ae2a;
    color: #d00816;
    display: flex;
    align-items: center;
    border-radius: 0px 20px 20px 20px;
    padding: 15px;
    grid-column: 3;
    grid-row: 1;
}

#season_4 .anecdotes .image_1 {
    background-image: url(images_desktop/Charlie_and_William.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    color: rgba(223, 224, 228, 0.8);
    grid-column: 4 / span 2;
    grid-row: 1;
    padding: 15px;
}

#season_4 .anecdotes .empty {
    grid-column: 3;
    grid-row: 1;
}

#season_4 .anecdotes .bottom_right_90 {
    background-color: #d2ae2a;
    color: #d00816;
    display: flex;
    align-items: center;
    border-radius: 20px 20px 0px 20px;
    padding: 15px;
    grid-column: 6;
    grid-row: 1;
}

footer {
    color: white;
    font-family: "barlow semi condensed";
    font-size: 15px;
}

@media (min-width: 900px) and (max-width: 1111px) {
    header h1 {
        font-size: 5.4vw;
    }

    nav {
        font-size: 1.8vw;
    }

    .album_data div h1 {
        font-size: 2.3vw;
    }

    .album_data div h2 {
        font-size: 2vw;
    }

    .album_data, .song_list, .anecdotes {
        font-size: 1.35vw;
    }

    .song_list div ul {
        padding-left: 1.5vw;
    }
}

@media (max-width: 899px) {
    header {
        font-size: 24.3px;
    }

    nav {
        font-size: 16.3px;
    }

    .album_data div h1 {
        font-size: 20.7px;
    }

    .album_data div h2 {
        font-size: 18px;
    }

    .album_data, .song_list, .anecdotes {
        font-size: 12.2px;
    }

    .song_list div ul {
        padding-left: 13.5px;
    }
}

@media (max-width: 800px) {
    body {
        background-image: url(images_tablet_phone/background.jpg);
    }

    .greybox {
        margin: 100px 30px;
    }

    header {
        text-align: center;
        font-size: 5vw;
    }

    nav {
        font-size: 2.8vw;
    }

    .cover {
        grid-column: 1 / span 3;
        grid-row: 1;
        margin-right: 10px;
        background-color: rgb(52 49 42);
        border-radius: 20px 0px 0px 20px;
    }

    .cover:hover .show_not_hover {
        opacity: 0;
    }

    .show_hover, .show_not_hover {
        border-radius: 20px 0px 0px 0px;
    }

    .song_list {
        grid-column: 4 / span 2;
        grid-row: 1;
        grid-template-columns: 1fr;
        margin: 0px;
        font-size: 2vw;
    }

    .top_writers, .top_actors {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .song_list div ul {
        padding-left: 1.9vw;
    }
    
    .top_actors {
        border-radius: 0px 20px 0px 0px;
    }

    .album_data {
        grid-column: 1 / span 5;
        grid-row: 2;
        margin: 15px 0px;
        font-size: 2.3vw;
    }

    .album_data div h1 {
        font-size: 5vw;
    }

    .album_data div h2 {
        font-size: 2.8vw;
    }

    .anecdotes {
        grid-row: 3;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        font-size: 2.3vw;
    }

    #season_3 .anecdotes .top_right_90 {
        grid-column: 1;
        grid-row: 1;
    }

    #season_3 .anecdotes .empty {
        grid-column: 2;
        grid-row: 1;
    }

    #season_3 .anecdotes .empty.tablet_empty {
        grid-column: 1;
        grid-row: 2;
    }

    #season_3 .anecdotes .empty.phone_empty {
        grid-column: 4;
        grid-row: 2;
    }

    #season_3 .anecdotes .two_wide {
        grid-column: 3 / span 2;
        grid-row: 1;
    }

    #season_3 .anecdotes .image_1 {
        background-image: url(images_tablet_phone/CharlieBrooker.jpg);
        grid-column: 2;
        grid-row: 2;
    }

    #season_3 .anecdotes .bottom_right_90 {
        grid-column: 3;
        grid-row: 2;
    }

    #season_4 .anecdotes .bottom_left_90 {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    #season_4 .anecdotes .top_left_90 {
        grid-column: 3;
        grid-row: 1;
    }

    #season_4 .anecdotes .image_1 {
        background-image: url(images_tablet_phone/Charlie_and_William.jpg);
        grid-column: 2 / span 2;
        grid-row: 2;
    }

    #season_4 .anecdotes .empty {
        grid-column: 4;
        grid-row: 1;
    }

    #season_4 .anecdotes .empty.tablet_empty {
        grid-column: 1;
        grid-row: 2;
    }

    #season_4 .anecdotes .empty.phone_empty {
        grid-column: 1;
        grid-row: 2;
    }

    #season_4 .anecdotes .bottom_right_90 {
        grid-column: 4;
        grid-row: 2;
    }
    
}

@media (max-width: 500px) {
    .greybox {
        margin: 0;
        border-radius: 0;
    }

    .best {
        grid-template-columns: 1fr 1fr;
        grid-template-columns: 1fr auto auto auto
    }

    .cover {
        grid-column: 1 / span 2;
        grid-row: 1;
        margin-right: 0;
    }

    .show_hover, .show_not_hover {
        border-radius: 20px 20px 0px 0px;
    }

    .song_list {
        margin-top: 8px;
        gap: 8px;
        grid-column: 1 / span 2;
        grid-row: 2;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        font-size: 3.5vw;
    }

    .song_list div ul {
        padding-left: 3.4vw;
    }

    .song_list div {
        justify-content: flex-start;
    }

    .top_actors {
        border-radius: 0px 0px 0px 20px;
    }

    .top_writers {
        border-radius: 0px 0px 20px 0px;
    }

    .album_data {
        grid-column: 1 / span 2;
        grid-row: 3;
    }

    .anecdotes {
        grid-column: 1 / span 2;
        grid-row: 4;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}