body {
    margin: 0;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    line-height: 1.2;
}

.greybox {
    background-color: rgba(0, 0, 0, 0.3);
    margin: 100px 50px 100px 50px;
    border-radius: 20px;
}

.contentbox {
    padding: 5px 20px;
}

header {
    font-family: "bungee shade";
    color: rgba(223, 224, 228, 0.8);
    margin-bottom: 50px;
}

nav {
    display: flex;
    margin-bottom: 60px;
}

nav div {
    flex-basis: 0;
    flex-grow: 1;
    background-color: rgba(223, 224, 228, 0.8);
    font-family: "barlow semi condensed";
    padding: 20px 0px;
    border-radius: 10px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav div:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
}

.marked {
    border: 2px solid white;
    font-weight: bold;
    box-shadow: 0px 0px 5px white;
}

.marked:hover {
    background-color: rgba(223, 224, 228, 0.8);
    color: black;
    cursor: auto;
}

.best {
    font-family: "barlow semi condensed";
    color: rgba(223, 224, 228, 0.8);
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0px 0px 20px 0px;
    padding: 15px 15px;
    border: 1px solid rgb(189, 188, 188);
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto auto;
}

/* Album Data */

.album_data div h1 {
    font-family: "bungee outline";
    color: rgba(223, 224, 228, 0.8);
}

.album_data div h2 {
    color: white;
    font-family: "barlow semi condensed";
}

.album_data div h1, .album_data div h2 {
    margin: 0;
}

.album_data {
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
    margin-right: 15px;
}

.album_data div ul {
    margin-top: 0;
    list-style-type: none;
}

.album_data div p {
    margin-top: 50px;
    margin-bottom: 0;
}

/* Cover */

.cover {
    display: grid;
    object-fit: contain;
    grid-column: 4 / span 2;
    grid-row: 1;
}

.show_hover {
    z-index: 1;
}

.show_hover, .show_not_hover {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    width: 100%;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

/* Under Cover lists */

.song_list {
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 4 / span 2;
    grid-row: 2;
}

#season_3 .song_list .top_actors, #season_3 .song_list .top_writers {
    background-color: rgb(52 49 42);
    color: #f9e9c9;
}

#season_4 .song_list .top_actors, #season_4 .song_list .top_writers {
    background-color: #d00816;
    color: #d2ae2a;
}

.top_actors {
    border-bottom-left-radius: 30px;
    padding: 20px;
}
.top_actors h2 {
    margin: 0;
}
.top_actors ul {
    padding-left: 20px;
    margin: 0;
    list-style-type: decimal;
    text-align: left;
}

.top_writers {
    padding: 20px;
    border-bottom-right-radius: 30px;
}
.top_writers h2 {
    margin: 0;
}
.top_writers ul {
    margin: 0;
    list-style-type: decimal;
    padding-left: 20px;
}

/*Anecdotes */

#season_3 .anecdotes, #season_4 .anecdotes {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-column: 1 / span 5;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    margin: 0;
}

/* Section 1 */

#season_3 .anecdotes .top_right_90 {
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;

    background-color: #f9e9c9;
    color: rgb(44, 44, 44);
    border-radius: 20px 0 20px 20px;
}

#season_3 .anecdotes .empty {
    grid-column: 2;
    grid-row: 1;
}

#season_3 .anecdotes .two_wide {
    grid-column: 3 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;

    background-color: #f9e9c9;
    color: rgb(44, 44, 44);
    border-radius: 20px 20px 20px 0px;
}

#season_3 .anecdotes .image_1 {
    background-image: url(images/CharlieBrooker.png);
    background-size: cover;
    background-position: center;
    border-radius: 0px 20px 20px 20px;
    display: flex;
    align-items: flex-end;
    padding: 20px 20px;
    grid-column: 5;
}

#season_3 .anecdotes .bottom_right_90 {
    grid-column: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    background-color: #f9e9c9;
    color: rgb(44, 44, 44);
    border-radius: 20px 20px 0px 20px;

}

/* Section 2 */

#season_4 .anecdotes .bottom_left_90 {
    background-color: #d2ae2a;
    color: #d00816;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 20px 0px;
    padding: 20px 20px;
    grid-column: 1 / span 2;
    grid-row: 1;
}

#season_4 .anecdotes .top_left_90 {
    background-color: #d2ae2a;
    color: #d00816;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 20px 20px 20px;
    padding: 20px 20px;
    grid-column: 3;
    grid-row: 1;
}

#season_4 .anecdotes .image_1 {
    background-image: url(images/Charlie\ and\ William.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    color: rgba(223, 224, 228, 0.8);
    grid-column: 4 / span 2;
    grid-row: 1;
    padding: 20px 20px;
}

#season_4 .anecdotes .empty {
    grid-column: 3;
    grid-row: 1;
}

#season_4 .anecdotes .bottom_right_90 {
    background-color: #d2ae2a;
    color: #d00816;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0px 20px;
    padding: 20px 20px;
    grid-column: 6;
    grid-row: 1;
}