body {
    margin: 0;
    background-image: url(images_desktop/back_desktop.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    line-height: 1.2;
}

.greybox {
    background-color: rgba(0, 0, 0, 0.35);
    margin: 100px 40px;
    border-radius: 20px;
}

.contentbox {
    padding: 20px;
}

header h1 {
    font-family: "bungee shade";
    color: rgb(223, 224, 228);
    font-size: 60px;
    margin: 0;
}

nav {
    display: flex;
    margin: 70px 0px;
    font-size: 24.5px;
}

nav div {
    flex-basis: 0;
    flex-grow: 1;
    background-color: rgba(223, 224, 228, 0.7);
    font-family: "barlow semi condensed";
    padding: 15px 0px;
    border-radius: 10px;
    margin: 2px;
    display: flex;
    justify-content: center;
}

nav div:hover {
    background-color: rgba(0, 0, 0, 0.45);
    color: white;
    cursor: pointer;
}

.marked {
    border: 1px solid white;
    font-weight: bold;
    box-shadow: 0px 0px 5px white;
}

.marked:hover {
    background-color: rgba(223, 224, 228, 0.7);
    color: black;
    cursor: auto;
}

.best {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    font-family: "barlow semi condensed";
    border: 1px solid rgb(189, 188, 188);
    border-radius: 20px;
    margin: 0px 0px 20px 0px;
    padding: 15px;
    color: rgba(223, 224, 228, 0.8);
    background-color: rgba(0, 0, 0, 0.45);
}

#season_4 {
    margin-bottom: 80px;
}

/* Album Data */

.album_data div h1 {
    font-family: "bungee outline";
    color: rgba(255, 255, 255, .8);
    font-size: 32px;
    margin: 0;
}

.album_data div h2 {
    color: white;
    font-family: "barlow semi condensed";
    font-size: 27.7px;
    margin: 0;
}

.album_data {
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
    margin-right: 15px;
    font-size: 16px;
}

.album_data div p {
    margin-top: 60px;
    margin-bottom: 0;
}

.album_data div ul {
    margin-top: 0;
    list-style-type: none;
}

/* Cover */
.cover {
    display: grid;
    grid-column: 4 / span 2;
    grid-row: 1;
}

.cover:hover .show_not_hover {
    opacity: 1;
}

.show_not_hover {
    opacity: 0;

    transition: opacity;
    transition-duration: 1s;
}

.show_hover, .show_not_hover {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

/* Under Cover lists */
.song_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 4 / span 2;
    grid-row: 2;

    font-family: "barlow condensed";
    font-size: 16px;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#season_3 .top_actors, #season_3 .top_writers {
    background-color: rgb(52, 49, 42);
    color: #f9e9c9;

    padding: 15px 15px;
}

#season_4 .top_actors, #season_4 .top_writers {
    background-color: #d00816;
    color: #d2ae2a;

    padding: 15px 15px;
}

.song_list h2 {
    margin: 0;
}
.song_list ul {
    margin: 0;
    list-style-type: decimal;
    list-style-position: inside;
    padding-left: 0px;
}

.top_actors {
    border-bottom-left-radius: 20px;
}
.top_writers {
    border-bottom-right-radius: 20px;
}

/* ---- Anecdotes ---- */

.anecdotes {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column: 1 / span 5;

    list-style-type: none;
    padding: 0;
    gap: 5px;
    margin: 0;
    font-size: 16px;
}

.anecdotes li {
    display: flex;
    align-items: center;
    height: 165px;

    padding: 15px 15px;
}

.top_left_90 { border-radius: 0px 20px 20px 20px;}
.top_right_90 { border-radius: 20px 0px 20px 20px; }
.bottom_right_90 { border-radius: 20px 20px 0px 20px;}
.bottom_left_90 { border-radius: 20px 20px 20px 0px; }


/* Section 1 */

#season_3 .anecdotes li {
    background-color: #f9e9c9;
    color: rgb(44, 44, 44);
}

#season_3 .anecdotes .top_right_90 {
    grid-column: 1;
    grid-row: 1;
}

#season_3 .anecdotes .empty {
    grid-column: 2;
    grid-row: 1;

    background-color: transparent;
}

#season_3 .anecdotes .two_wide {
    grid-column: 3 / span 2;
    grid-row: 1;
}

#season_3 .anecdotes .image_1 {
    background-image: url(images_desktop/CharlieBrooker.jpg);
    background-size: cover;
    background-position: center;

    align-items: flex-end;
    grid-column: 5;
    grid-row: 1;

    color: rgba(223, 224, 228, 0.8);
}

#season_3 .anecdotes .bottom_right_90 {
    grid-column: 6;
    grid-row: 1;
}

/* Section 2 */

#season_4 .anecdotes li {
    background-color: #d2ae2a;
    color: #d00816;
}

#season_4 .anecdotes .bottom_left_90 {
    grid-column: 1 / span 2;
    grid-row: 1;
}

#season_4 .anecdotes .top_left_90 {
    grid-column: 3;
    grid-row: 1;
}

#season_4 .anecdotes .image_1 {
    background-image: url(images_desktop/Charlie_and_William.jpg);
    background-size: cover;
    background-position: center;

    align-items: flex-end;
    grid-column: 4 / span 2;
    grid-row: 1;

    color: rgba(223, 224, 228, 0.8);
}

#season_4 .anecdotes .empty {
    grid-column: 3;
    grid-row: 1;

    background-color: transparent;
}

#season_4 .anecdotes .bottom_right_90 {
    grid-column: 6;
    grid-row: 1;
}

footer {
    color: rgba(223, 224, 228, 0.8);
    font-family: "barlow semi condensed";
    font-size: 15px;
}


/* Between 900px and 1111px */

@media (min-width: 900px) and (max-width: 1111px) {
    header h1 {
        font-size: 5.4vw;
    }

    nav {
        font-size: 2.2vw;
    }

    .album_data div h1 {
        font-size: 2.9vw;
    }

    .album_data div h2 {
        font-size: 2.5vw;
    }

    .album_data, .anecdotes, .song_list {
        font-size: 1.43vw;
    }
}


/* Below 900 px */

@media (max-width: 900px) {
    /* Nav & Header */
    header h1 {
        font-size: 48.5px;
    }

    nav {
        font-size: 19.3px;
    }

     /* Album data */
    .album_data div h1 {
        font-size: 26px;
    }

    .album_data div h2 {
        font-size: 22.5px;
    }

    .album_data, .anecdotes, .song_list {
        font-size: 12.7px;
    }
}


/* Below 800px */

@media (max-width: 800px) {
    body {
        background-image: url(images_tablet_phone/back_tablet.jpg);
    }

    .greybox {
        margin: 100px 30px;
    }

    /* Nav & Header */
    header h1 {
        text-align: center;
        font-size: 10vw;
    }

    nav {
        font-size: 2.8vw;
    }
    
    /* Album data */
    .album_data {
        grid-column: 1 / span 5;
        grid-row: 2;

        margin: 10px 0px;
        font-size: 2.5vw;
    }

    .album_data div h1 {
        font-size: 5vw;
    }

    .album_data div h2 {
        font-size: 2.8vw;
    }

    /* Cover */
    .cover {
        grid-column: 1 / span 3;
        grid-row: 1;
        margin-right: 10px;
        border-radius: 20px 20px 0px 20px;
    }

    #season_3 .cover {
        background-color: rgb(52 49 42);
    }
    #season_4 .cover {
        background-color: #d00816;
    }

    .show_hover {
        border-radius: 20px 0px 0px 0px;
        max-height: 93%;
    }

    .show_not_hover {
        display: none;
    }

    /* Under cover list */
    .song_list {
        grid-column: 4 / span 2;
        grid-row: 1;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        
        margin: 0px;
        font-size: 2.3vw;
    }
    
    .top_actors {
        border-radius: 0px 20px 0px 0px;
    }


    /* ---- Anecdotes ---- */

    .anecdotes {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);

        grid-row: 3;
        font-size: 2.5vw;
    }

    .anecdotes li {
        height: 220px;
    }

    /* Section 1 */
    #season_3 .anecdotes .top_right_90 {
        grid-column: 1;
        grid-row: 1;
    }

    #season_3 .anecdotes .empty {
        grid-column: 2;
        grid-row: 1;
    }

    #season_3 .anecdotes .empty.tablet_empty {
        grid-column: 1;
        grid-row: 2;
    }

    #season_3 .anecdotes .empty.phone_empty {
        grid-column: 4;
        grid-row: 2;
    }

    #season_3 .anecdotes .two_wide {
        grid-column: 3 / span 2;
        grid-row: 1;
    }

    #season_3 .anecdotes .image_1 {
        background-image: url(images_tablet_phone/CharlieBrooker.jpg);
        grid-column: 2;
        grid-row: 2;
    }

    #season_3 .anecdotes .bottom_right_90 {
        grid-column: 3;
        grid-row: 2;
    }

    /* Section 2 */
    #season_4 .anecdotes .bottom_left_90 {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    #season_4 .anecdotes .top_left_90 {
        grid-column: 3;
        grid-row: 1;
    }

    #season_4 .anecdotes .image_1 {
        background-image: url(images_tablet_phone/Charlie_and_William.jpg);
        grid-column: 2 / span 2;
        grid-row: 2;
    }

    #season_4 .anecdotes .empty {
        grid-column: 4;
        grid-row: 1;
    }

    #season_4 .anecdotes .empty.tablet_empty {
        grid-column: 1;
        grid-row: 2;
    }

    #season_4 .anecdotes .empty.phone_empty {
        grid-column: 1;
        grid-row: 2;
    }

    #season_4 .anecdotes .bottom_right_90 {
        grid-column: 4;
        grid-row: 2;
    }
    
}


/* Below 500px */

@media (max-width: 500px) {
    body {
        background-image: url(images_tablet_phone/back_phone.jpg);
    }

    .greybox {
        margin: 0;
        border-radius: 0;
    }

    /* Nav & Header */
    header h1 {
        font-size: 15vw;
    }

    nav {
        font-size: 3vw;
    }

    .best {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
    }

    /* Album data */
    .album_data {
        grid-column: 1 / span 2;
        grid-row: 3;
        font-size: 4vw;
    }

    .album_data div h1 {
        font-size: 7vw;
    }

    .album_data div h2 {
        font-size: 4vw;
    }

    /* Cover */
    .cover {
        grid-column: 1 / span 2;
        grid-row: 1;
        margin-right: 0;
    }

    .show_hover, .show_not_hover {
        border-radius: 20px 20px 0px 0px;
        max-height: 100%;
    }

    /* Under cover list */
    .song_list {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column: 1 / span 2;
        grid-row: 2;

        margin-top: 10px;
        font-size: 3.5vw;
    }

    .top_actors {
        border-radius: 0px 0px 0px 20px;
    }

    .top_writers {
        border-radius: 0px 0px 20px 0px;
    }


    /* ---- Anecdotes ---- */

    .anecdotes {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column: 1 / span 2;
        grid-row: 4;
        font-size: 3.3vw;
    }

    /* Section 1 */
    #season_3 .anecdotes .top_left_90 {
        grid-column: 2;
        grid-row: 2;
    }

    #season_3 .anecdotes .top_right_90 {
        grid-column: 1;
        grid-row: 1;
    }

    #season_3 .anecdotes .bottom_right_90 {
        grid-column: 3;
        grid-row: 2;
    }

    #season_3 .anecdotes .bottom_left_90 {
        grid-column: 2 / span 2;
        grid-row: 1;
    }

    #season_3 .anecdotes .empty {
        grid-column: 1;
        grid-row: 2;
    }
    #season_3 .anecdotes .empty.phone_empty {
        grid-column: 1;
        grid-row: 2;
    }

    /* Section 2 */
    #season_4 .anecdotes .bottom_left_90 {
        grid-column: 1 / span 2;
        grid-row: 1;
    }
    #season_4 .anecdotes .top_left_90 {
        grid-column: 3;
        grid-row: 1;
    }
    #season_4 .anecdotes .image_1 {
        grid-column: 1 / span 2;
        grid-row: 2;
    }
    #season_4 .anecdotes .empty {
        display: none;
    }
    #season_4 .anecdotes .bottom_right_90 {
        grid-column: 3;
        grid-row: 2;
    }

}